<div class="entry">
	<!-- example of a handlebars exmpression -->
	<h1>{{title}}</h1>

	<!-- example of using expression with triple stash to avoid html escaping -->
	{{{h2}}}

	<!-- example of loading a partial with custom context -->
	{{> person partialContext}}	
</div>
